{% extends "base-user.html" %}

{% block content %}
<section id="services" class="section-bg">
    <div class="container">
        {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>
        {% endif %}
        <header class="section-header">
            <h3>Login</h3>
        </header>

        <form class="form-group" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg")}}
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
            <span> <br><br></span>
        </form>
        {% for i in range(8) %}
                <br>
        {% endfor %}
    </div>
</section>

{% endblock content %}