<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PCD Ensi 2020</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="/static/contain/img/favicon.png" rel="icon">
    <link href="/static/contain/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/static/contain/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/static/contain/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/contain/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/contain/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/contain/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/contain/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/static/contain/css/style.css" rel="stylesheet">
</head>

<body>
<!--==========================
Header
============================-->
<header id="header">

    <div id="topbar">
        <div class="container">
            <div class="social-links">
                <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="#intro" class="scrollto"><span>Ensi </span></a></h1>
            <!--         <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href={{ url_for('dev.service') }}>Services</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#footer">Contact Us</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
                <h2>Optimal Solutions for Your <span>Requirements!</span></h2>
                <div>
                    <a href={{ url_for('dev.service') }} class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>

            <div class="col-md-6 intro-img order-md-last order-first">
                <img src="/static/contain/img/intro-img.svg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="/static/contain/img/about-img.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-content">
                        <h2>About Us</h2>
                        <h3>we propose an optimization-methods based application that combines a variety
                            of algorithms adapted to the cloud services composition problem.</h3>
                        <p>As we wade through the service composition process, we encounter several potential solutions that would take exponential
                            time for processing all solutions.</p>
                        <p>Our main objective is to formulate the optimal combination of cloud services that apply to your requirements in terms of .</p>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i> Price</li>
                            <li><i class="ion-android-checkmark-circle"></i> Response Time </li>
                            <li><i class="ion-android-checkmark-circle"></i> Availability</li>
                            <li><i class="ion-android-checkmark-circle"></i> Reliability</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
        <div class="container-fluid">

            <header class="section-header">
                <h3>Why choose us?</h3>
                <p>Our Slogan says it all .we will strive and are committed to providing
                    the maximum level of satisfaction to our clients.</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <div class="why-us-img">
                        <img src="/static/contain/img/why-us.jpg" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="why-us-content">
                        <p>We are highly confident in our promise to serve you better.
                            Our focus is to build long term relationships with our customers.</p>
                        <p>
                            Our proposed algorithms are a combination of widely used optimization-based algorithms by exploiting
                            the effectiveness of each one.
                            Therefore we present undeniable proof of high efficiency and requirements-meet<br>
                            Our application ensures:
                        </p>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-diamond" style="color: #f058dc;"></i>
                            <h4>Simplicity</h4>
                            <p>Our customers don't need to have a complete understanding of how our algorithms work ,
                                their parameters and how to tune  them .
                                We provide an automatic detection and prediction of the parameters that guarantee the optimal solution.</p>
                        </div>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-object-group" style="color: #ffb774;"></i>
                            <h4>Efficiency</h4>
                            <p>Our application not only finds solutions that meet the requirements of our customers but also proposes through its
                                two seperate methods a variety of soltutions that meet the quality of service preferences.</p>
                        </div>

<!--                        <div class="features wow bounceInUp clearfix">-->
<!--                            <i class="fa fa-language" style="color: #589af1;"></i>-->
<!--                            <h4>Voluptates dolores</h4>-->
<!--                            <p>Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam-->
<!--                                dolores ut enim ullam voluptas distinctio aut.</p>-->
<!--                        </div>-->

                    </div>

                </div>

            </div>

        </div>
    </section>

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
        <div class="container">
            <div class="section-header">
                <h3>Team</h3>
                <p>We proudly present our team. </p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="/static/contain/img/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Hamza Kacem</h4>
                                <br>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="/static/contain/img/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Hamdi Gabsi</h4>
                                <br>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="/static/contain/img/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Farouk Bouabid</h4>
                                <br>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="/static/contain/img/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Rim Drira</h4>
                                <br>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #team -->

    <section id="faq">
        <div class="container">
            <header class="section-header">
                <h3>Frequently Asked Questions</h3>
                <br>
            </header>

            <ul id="faq-list" class="wow fadeInUp">
                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">Which algorithms do the web-application implements ? <i class="ion-android-remove"></i></a>
                    <div id="faq1" class="collapse" data-parent="#faq-list">
                        <p>
                            Single-objective: a hybrid Genetic-Artificial Bee colony algorithm. <br>
                            Multi-Objective: a hybrid Non dominated sorting genetic-Multi-Objective Artificial Bee Colony algorithm (NSGA-II - MOABC).
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Which type of input-files does the application support ? <i class="ion-android-remove"></i></a>
                    <div id="faq2" class="collapse" data-parent="#faq-list">
                        <p>The application supports a  JSON file whose layout is described in section services. </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Does the web-application take much time to find the optimal solution ? <i class="ion-android-remove"></i></a>
                    <div id="faq3" class="collapse" data-parent="#faq-list">
                        <p> It depends on the number of abstract services in your desired composition plan.</p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- #faq -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="footer-newsletter">
                                <h2 style="color: cornflowerblue; text-align: center;font-weight: bold">Follow us
                                    on </h2>
                            </div>
                        </div>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-links">
                <h4>Contact us </h4>
                <p>
                    Chebba Mahdia City <br>
                    Post Number 5170<br>
                    Tunsia <br>
                    <strong>Phone:</strong> +216 52982553<br>
                    <strong>Email:</strong> ensi-uma@gmail.com<br>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>PCD Ensi</strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="/static/contain/lib/jquery/jquery.min.js"></script>
<script src="/static/contain/lib/jquery/jquery-migrate.min.js"></script>
<script src="/static/contain/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/contain/lib/easing/easing.min.js"></script>
<script src="/static/contain/lib/mobile-nav/mobile-nav.js"></script>
<script src="/static/contain/lib/wow/wow.min.js"></script>
<script src="/static/contain/lib/waypoints/waypoints.min.js"></script>
<script src="/static/contain/lib/counterup/counterup.min.js"></script>
<script src="/static/contain/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/contain/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/static/contain/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/static/contain/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/static/contain/js/main.js"></script>

</body>
</html>