{% extends "base-user.html" %}

{% block content %}

<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <br><br>
            <h3>Choose one method from these two options</h3>
            <br><br><br>
        </header>
        <form method="post">
            <div class="row">
                <div class="col-md-7 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                        <br>
                        {{ form.csrf_token }}
                        {{ form.submit1(class="btn btn-outline-info btn-rounded waves-effect") }}
                        <p class="description"><br>This method requires that you indicate the most crucial qualities of service.
                            The algorithm will focus on optimizing these preferences.
                            <br>Weights attribute is required in the JSON file.</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #ffccbc;"><i class="ion-ios-clock-outline" style="color: #95999c;"></i></div>
                        <br>
                        {{ form.submit2(class="btn btn-outline-info btn-rounded waves-effect") }}
                        <p class="description"><br>The algorithm will proceed in optimizing the qualities of service all at once.
                            this will result in a more diverse set of solutions.
                            <br>No weights attribute are required in the JSON file.</p>
                    </div>
                </div>
            </div>
        </form>
        {% for i in range(6) %}
        <br>
        {% endfor %}

    </div>
</section>
{% endblock content %}