{% extends "base-user.html" %}

{% block content %}
<section id="services" class="section-bg">
    <div class="container">
        <header class="section-header">
            <h3>Submits History </h3>
        </header>
        <form method="post" enctype="multipart/form-data">
            <div class="row">

                <table class="table table-striped">
                    <!--Table head-->
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date GMT+1</th>
                        <th>Input File</th>
                        <th>Output File</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(L1|length) %}
                        <tr>
                            <th scope="row">{{ loop.index0 }}</th>
                            <td>{{ L1[i][0] }}</td>
                            <td><a href="{{ pathrelativesubmits + L1[i][1] }}"  download>Download</a></td>
                            <td><a href="{{ pathrelativeresults + L2[i] }}"  download>Download</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        {% for i in range(8) %}
            <br>
        {% endfor %}
    </div>
</section>
{% endblock content %}