{% extends "base-site.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Algorithm Settings </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="POST">
                        <table class="table" style="text-align: center">
                            <thead class=" text-primary">
                            <th>
                                SN
                            </th>
                            <th>
                                MCN
                            </th>
                            <th>
                                SQ
                            </th>
                            <th>
                                CP<span style="color: red" >*</span>
                            </th>
                            <th>
                                SCP<span style="color: red" >*</span>
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center">
                                    {{ form.SN(class="form-control" , style="text-align: center") }}
                                </td>
                                <td>
                                    {{ form.MCN(class="form-control" , style="text-align: center") }}
                                </td>
                                <td>
                                    {{ form.SQ(class="form-control" , style="text-align: center") }}
                                </td>
                                <td>
                                    {{ form.CP(class="form-control" , style="text-align: center") }}
                                </td>
                                <td>
                                    {{ form.SCP(class="form-control" , style="text-align: center") }}
                                </td>
                            </tr>
                            <tr>
                                <div style="text-align: center;">
                                    {{ form.csrf_token }}
                                    {{ form.submit(class="btn btn-primary")}}
                                </div>
                            </tr>

                            </tbody>

                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
